#pedir{
    position: absolute;
    margin-top: 1.1%;
    width: 50%;
    height: 63%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    overflow-y: scroll;
}

#pedir h4{
    text-align: center;
}

.tabelaPedidos label{
    font-size: .8em;
    margin-bottom: 0;
}

.form-control{
    height: calc(2.25rem + .3px);
}

#confirmar{
    position: relative;
    margin-top: 5%;
    float: right;
}


/* MODAL */
#modal-pedido {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 215, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease-out;
}

#modal-pedido.show {
    opacity: 1;
    pointer-events: all;
}

.modal-corpo {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 30px 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.modal-corpo h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #6bb509;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-pedido-valor,
.modal-pedido-rodape,
.modal-pedido-confirmacao {
    font-size: 18px;
    text-align: left;
    margin: 0;
}

.modal-pedido-valor {
    text-align: center;
    margin: 20px 0;
}

.modal-pedido-rodape {
    font-size: 14px;
    margin-top: 20px;
}

.modal-pedido-valor span,
.modal-pedido-rodape span,
.modal-pedido-confirmacao span {
    font-weight: 700;
}
#enviar-pedido {
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(255, 215, 0);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

#fechar-modal-pedido {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: #da0a0a;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    line-height: 20px;
}