#corpo {
    width: 600px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#corpo .botaoHome{
    width: 100%;
    height: 30%;
    background-color: #F8F400;
    border-radius: 50px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
    transition: box-shadow 0.1s ease, transform 0.1s ease;
}

#corpo .botaoHome:hover{
    box-shadow: 0 0 0 rgba(0,0,0,0.5), inset 5px 5px 2px rgba(0,0,0,0.5);
    transform: translate(2px, 2px);
}

.botaoHome p{
    text-align: center;
    color: black;
    font-size: 2em;
    line-height: 100px;

}

.botaoHome p:hover{
    color: dimgray;
}

.botaoHome a{
    text-decoration: none;
}

#corpo #botao1{
    margin-top: 5%;
}


#corpo #botao2{
    margin-top: 12%;
    margin-bottom: 5%;
}